* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2980b9;
}

#wrapper {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 0.75fr);
    grid-template-rows: minmax(100px, 1fr) 75px minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "ar1 ar1 aside"
        "ar1 ar1 aside"
        "ar2 ar2 aside"
        "ar2 ar2 aside"
        "ar3 ar3 aside"
        "ar3 ar3 aside";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

h1 {
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
}

nav {
    background-color: rgb(191, 183, 183);
    grid-area: nav;
}

article {
    display: flex;
    align-items: center;
    margin: 5px;
}

#ar1 {
    background-color: red;
    grid-area: ar1;
}

#ar2 {
    background-color: green;
    grid-area: ar2;
}

#ar3 {
    background-color: blue;
    grid-area: ar3;
}

aside {
    background-color: chartreuse;
    grid-area: aside;
    margin: 5px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
}

img {
    margin: 15px;
    display: flex;
    justify-content: left;
    max-width: 100%;
    width: auto;
}

a {
    font-size: 40px;
    font-family: fantasy;
    text-decoration: none;
    color: rgb(13, 12, 12);
}
